In [57]:
import pandas as pd
import numpy as np
import os

In [58]:
#Save file path to variable
csv_path = os.path.join("Resource", "schools_complete.csv")
csv_path2 = os.path.join("Resource", "students_complete.csv")

In [59]:
#Read with Pandas School head
schools_df = pd.read_csv(csv_path)
schools_df = schools_df.rename(columns={
    "name":"school"})
schools_df

    School ID                 school      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [60]:
#Students head
students_df = pd.read_csv(csv_path2)
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [61]:
#District head
district_df = pd.merge(schools_df, students_df, on="school")
district_df.head()

,School ID,school,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [62]:
#Pass bins
bins = [0,69,100]
bin_names = ['Fail','Pass']

In [63]:
#Add bins to summary
district_df["reading_pass"] = pd.cut(district_df["reading_score"],
                                           bins, labels=bin_names)
district_df["math_pass"] = pd.cut(district_df["math_score"],
                                            bins, labels=bin_names)
district_df.head()

,School ID,school,type,size,budget,Student ID,name,gender,grade,reading_score,math_score,reading_pass,math_pass
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Fail,Pass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass,Fail
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass,Fail
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail,Fail
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass

In [64]:
#District Pass
district_df_passr = district_df.loc[district_df["reading_pass"] == "Pass"]
district_df_passm = district_df.loc[district_df["math_pass"] == "Pass"]
district_df_passm.head()

,School ID,school,type,size,budget,Student ID,name,gender,grade,reading_score,math_score,reading_pass,math_pass
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Fail,Pass
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94,Pass,Pass
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80,Pass,Pass
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87,Pass,Pass

In [65]:
#Round 2 digits
def round2(number):
    # Rounds the number
    rounded_number = round(number, 2)
    # Creates a string
    string = str(rounded_number)
    # Returns the string
    return string

In [66]:
#District stats
total_students = district_df["name"].count()
total_schools = schools_df["school"].count()
total_budget = schools_df["budget"].sum()
mean_math = district_df["math_score"].mean()
mean_read = district_df["reading_score"].mean()
percent_math = (district_df_passm["math_pass"].count()/district_df["math_pass"].count())*100
percent_reading = (district_df_passr["reading_pass"].count()/district_df["reading_pass"].count())*100
average_pass = (percent_math+percent_reading)/2

In [67]:
district_summary=pd.DataFrame({"Total Students": [total_students],
                               "Total Schools": [total_schools],
                               "Total Budget": [total_budget],
                               "Average Math Score":[mean_math],
                               "Average Reading Score":[mean_read],
                               "% Passing Math":[percent_math],
                               "% Passing Reading":[percent_reading],
                               "% Passing Overall":[average_pass]})
district_summary["Average Math Score"] = district_summary["Average Math Score"].map(round2)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map(round2)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map(round2)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map(round2)
district_summary["% Passing Overall"] = district_summary["% Passing Overall"].map(round2)
district_summary[["Total Students","Total Schools","Total Budget","Average Math Score","Average Reading Score",
                "% Passing Math", "% Passing Reading","% Passing Overall"]]

,Total Students,Total Schools,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,39170,15,24649428,78.99,81.88,74.98,85.81,80.39

In [68]:
#District GroupBy
district_group = district_df.groupby(["school", "type"])
district_group.head()

,School ID,school,type,size,budget,Student ID,name,gender,grade,reading_score,math_score,reading_pass,math_pass
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Fail,Pass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Pass,Fail
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Pass,Fail
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Fail,Fail
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Pass,Pass
2917,1,Figueroa High School,District,2949,1884411,2917,Amy Jacobs,F,10th,85,87,Pass,Pass
2918,1,Figueroa High School,District,2949,1884411,2918,Nathan Campbell,M,12th,97,84,Pass,Pass
2919,1,Figueroa High School,District,2949,1884411,2919,Randall Stewart,M,12th,67,77,Fail,Pass
2920,1,Figueroa High School,District,2949,1884411,2920,Jennifer Brown,F,9th,97,64,Pass,Fail
2921,1,Figueroa High School,District,2949,1884411,2921,Denise Lopez,F,10th,79,64,Pass,Fail
5866,2,Shelton High School,Charter,1761,1056600,5866,Jamie Montgomery,F,12th,70,91,Pass,Pass
5867,2,Shelton High School,Charter,1761,1056600,5867,Shannon Phillips,F,10th,84,71,Pass,Pass
5868,2,Shelton High School,Charter,1761,1056600,5868,Todd Barber,M,11th,95,99,Pass,Pass
5869,2,Shelton High School,Charter,1761,1056600,5869,Desiree King,F,12th,76,95,Pass,Pass
5870,2,Shelton High School,Charter,1761,1056600,5870,Melissa Roberts,F,10th,71,82,Pass,Pass
7627,3,Hernandez High School,District,4635,3022020,7627,Russell Davis,M,10th,70,88,Pass,Pass
7628,3,Hernandez High School,District,4635,3022020,7628,Timothy Walker,M,12th,97,93,Pass,Pass
7629,3,Hernandez High School,District,4635,3022020,7629,Katie Johnston,F,12th,83,81,Pass,Pass
7630,3,Hernandez High School,District,4635,3022020,7630,Joann Oconnell,F,12th,77,91,Pass,Pass
7631,3,Hernandez High School,District,4635,3022020,7631,Sarah Alexander,F,10th,84,93,Pass,Pass
12262,4,Griffin High School,Charter,1468,917500,12262,Heather Wright,F,11th,79,68,Pass,Fail
12263,4,Griffin High School,Charter,1468,917500,12263,Elizabeth Goodwin,F,10th,91,81,Pass,Pass
12264,4,Griffin High School,Charter,1468,917500,12264,Michelle Wong,F,9th,78,89,Pass,Pass
12265,4,Griffin High School,Charter,1468,917500,12265,Scott Roth MD,M,11th,91,85,Pass,Pass
12266,4,Griffin High School,Charter,1468,917500,12266,Billy Wilson,M,12th,76,83,Pass,Pass
13730,5,Wilson High School,Charter,2283,1319574,13730,Kelli Anderson,F,10th,84,71,Pass,Pass
13731,5,Wilson High School,Charter,2283,1319574,13731,Russell Ramirez,M,10th,72,87,Pass,Pass
13732,5,Wilson High School,Charter,2283,1319574,13732,Eric Butler,M,10th,97,82,Pass,Pass
13733,5,Wilson High School,Charter,2283,1319574,13733,Warren Kerr,M,11th,93,68,Pass,Fail
13734,5,Wilson High School,Charter,2283,1319574,13734,Gail Hall,F,9th,79,72,Pass,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23274,9,Pena High School,Charter,962,585858,23274,Alec Davis,M,9th,91,75,Pass,Pass
23275,9,Pena High School,Charter,962,585858,23275,Michael Meyer,M,10th,94,76,Pass,Pass
23276,9,Pena High School,Charter,962,585858,23276,Donald Gutierrez,M,11th,98,91,Pass,Pass
23277,9,Pena High School,Charter,962,585858,23277,Travis Chavez,M,11th,78,71,Pass,Pass
23278,9,Pena High School,Charter,962,585858,23278,Sheena Ball,F,12th,87,92,Pass,Pass
24236,10,Wright High School,Charter,1800,1049400,24236,Aaron Johnson,M,10th,89,72,Pass,Pass
24237,10,Wright High School,Charter,1800,1049400,24237,Kimberly Hamilton,F,10th,84,93,Pass,Pass
24238,10,Wright High School,Charter,1800,1049400,24238,Ashley Johns,F,10th,88,88,Pass,Pass
24239,10,Wright High School,Charter,1800,1049400,24239,Stephanie Donovan,F,10th,75,84,Pass,Pass
24240,10,Wright High School,Charter,1800,1049400,24240,Cynthia Guzman,F,11th,93,82,Pass,Pass
26036,11,Rodriguez High School,District,3999,2547363,26036,Sherry Jenkins,F,11th,74,81,Pass,Pass
26037,11,Rodriguez High School,District,3999,2547363,26037,Kimberly Calderon,F,10th,80,86,Pass,Pass
26038,11,Rodriguez High School,District,3999,2547363,26038,William Brady,M,11th,97,62,Pass,Fail
26039,11,Rodriguez High School,District,3999,2547363,26039,Jacob Padilla,M,11th,79,73,Pass,Pass
26040,11,Rodriguez High School,District,3999,2547363,26040,Paula Maldonado,F,10th,96,92,Pass,Pass
30035,12,Johnson High School,District,4761,3094650,30035,Lisa Casey,F,12th,87,87,Pass,Pass
30036,12,Johnson High School,District,4761,3094650,30036,Jessica Lopez,F,9th,98,62,Pass,Fail
30037,12,Johnson High School,District,4761,3094650,30037,Anna Wilkins,F,11th,89,77,Pass,Pass
30038,12,Johnson High School,District,4761,3094650,30038,Andrew Smith,M,9th,66,85,Fail,Pass
30039,12,Johnson High School,District,4761,3094650,30039,Robert Allison,M,11th,63,85,Fail,Pass
34796,13,Ford High School,District,2739,1763916,34796,Michael Mercado,M,9th,66,94,Fail,Pass
34797,13,Ford High School,District,2739,1763916,34797,Stephen Wolf,M,11th,68,63,Fail,Fail
34798,13,Ford High School,District,2739,1763916,34798,Bonnie Hughes,F,12th,73,59,Pass,Fail
34799,13,Ford High School,District,2739,1763916,34799,Melissa Smith,F,11th,88,58,Pass,Fail
34800,13,Ford High School,District,2739,1763916,34800,Brian Mitchell,M,10th,96,55,Pass,Fail
37535,14,Thomas High School,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76,Pass,Pass
37536,14,Thomas High School,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82,Pass,Pass
37537,14,Thomas High School,Charter,1635,1043130,37537,Erik Snyder,M,9th,80,90,Pass,Pass
37538,14,Thomas High School,Charter,1635,1043130,37538,Tanya Martinez,F,9th,71,69,Pass,Fail
37539,14,Thomas High School,Charter,1635,1043130,37539,Noah Erickson,M,9th,86,76,Pass,Pass

In [69]:
pass_math = district_df[district_df['math_score'] >=70].groupby('school')['Student ID'].count()/district_group['name'].count()*100
pass_reading = district_df[district_df['reading_score'] >=70].groupby('school')['Student ID'].count()/district_group['name'].count()*100
pass_overall = ((pass_math + pass_reading)/2)

School Summary

Create an overview table that summarizes key metrics about each school, including:
School Name
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

In [70]:
school_summary=pd.DataFrame({"Total Students": district_group["name"].count(),
                             "School Budget": district_group["budget"].mean(),
                             "Per Student Budget": district_group["budget"].mean()/district_group["name"].count(),
                             "Average Math Score": district_group["math_score"].mean(),
                             "Average Reading Score": district_group["reading_score"].mean(), 
                             "% Passing Overall": pass_overall,
                             "% Passing Math": pass_math,
                             "% Passing Reading": pass_reading
                            })
school_summary["Average Math Score"] = school_summary["Average Math Score"].map(round2)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map(round2)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map(round2)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map(round2)
school_summary["% Passing Overall"] = school_summary["% Passing Overall"].map(round2)
school_summary = school_summary[["Total Students","School Budget","Per Student Budget","Average Math Score","Average Reading Score",
                "% Passing Math", "% Passing Reading","% Passing Overall"]]
school_summary.head()

,,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school,type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.59
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Ford High School,District,2739,1763916,644.0,77.1,80.75,68.31,79.3,73.8
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.27

In [71]:
#Top Performing Schools (By Passing Rating)
top_schools = school_summary.sort_values(by="% Passing Overall", ascending=False)
top_schools

,,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school,type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.59
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,95.29
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.27
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,95.27
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,95.2
Wright High School,Charter,1800,1049400,583.0,83.68,83.95,93.33,96.61,94.97
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.87,95.85,94.86
Holden High School,Charter,427,248087,581.0,83.8,83.81,92.51,96.25,94.38
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,73.81
Ford High School,District,2739,1763916,644.0,77.1,80.75,68.31,79.3,73.8
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.5
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.29

In [72]:
#Bottom Performing Schools (By Passing Rating)
top_schools.tail()

,,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school,type,,,,,,,,
Ford High School,District,2739,1763916,644.0,77.1,80.75,68.31,79.3,73.8
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,73.64
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,73.5
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,73.29

In [101]:
#Math scores by grade
gradelvl_df = district_df.groupby(["school", "grade"])
mathgrade_summary=pd.DataFrame({"Avg Math Score by Grade": gradelvl_df["math_score"].mean()})
mathgrade_summary.head()

                           Avg Math Score by Grade
school              grade
Bailey High School  10th                 76.996772
                    11th                 77.515588
                    12th                 76.492218
                    9th                  77.083676
Cabrera High School 10th                 83.154506

In [74]:
#Reading scores by grade
readinggrade_summary=pd.DataFrame({"Avg Reading Score by Grade": gradelvl_df["reading_score"].mean()})
readinggrade_summary.head()

                           Avg Reading Score by Grade
school              grade
Bailey High School  10th                    80.907183
                    11th                    80.945643
                    12th                    80.912451
                    9th                     81.303155
Cabrera High School 10th                    84.253219

In [75]:
#Scores by School Spending Bins
bins = [0,600,620,640,660]
school_bins = ['Poor','Average','Good','Excellent']
school_summary["School Spend Grade"] = pd.cut(school_summary["Per Student Budget"],
                                           bins, labels=school_bins)
bins = [0,2000,3500,5000]
size_bins = ['Small','Medium','Large']
school_summary["School Size"] = pd.cut(school_summary["Total Students"],
                                           bins, labels=size_bins)

In [76]:
#Scores by School Spending
school_summary1 = school_summary[["School Spend Grade","Average Math Score","Average Reading Score",
                "% Passing Math", "% Passing Reading","% Passing Overall"]]
school_summary1.head()

,,School Spend Grade,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school,type,,,,,,
Bailey High School,District,Good,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,Poor,83.06,83.98,94.13,97.04,95.59
Figueroa High School,District,Good,76.71,81.16,65.99,80.74,73.36
Ford High School,District,Excellent,77.1,80.75,68.31,79.3,73.8
Griffin High School,Charter,Good,83.35,83.82,93.39,97.14,95.27

In [77]:
#Scores by School Size Bins

In [106]:
#Score by School Spend Grade
school_summary3 = school_summary[["School Spend Grade","Average Math Score","Average Reading Score",
                "% Passing Math", "% Passing Reading","% Passing Overall"]]
scorebyspend = school_summary3.sort_values(by=["School Spend Grade"],
                                                 ascending=False)
scorebyspend

,,School Spend Grade,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school,type,,,,,,
Johnson High School,District,Excellent,77.07,80.97,66.06,81.22,73.64
Huang High School,District,Excellent,76.63,81.18,65.68,81.32,73.5
Hernandez High School,District,Excellent,77.29,80.93,66.75,80.86,73.81
Ford High School,District,Excellent,77.1,80.75,68.31,79.3,73.8
Thomas High School,Charter,Good,83.42,83.85,93.27,97.31,95.29
Rodriguez High School,District,Good,76.84,80.74,66.37,80.22,73.29
Griffin High School,Charter,Good,83.35,83.82,93.39,97.14,95.27
Figueroa High School,District,Good,76.71,81.16,65.99,80.74,73.36
Bailey High School,District,Good,77.05,81.03,66.68,81.93,74.31
Pena High School,Charter,Average,83.84,84.04,94.59,95.95,95.27
Wright High School,Charter,Poor,83.68,83.95,93.33,96.61,94.97
Wilson High School,Charter,Poor,83.27,83.99,93.87,96.54,95.2
Shelton High School,Charter,Poor,83.36,83.73,93.87,95.85,94.86
Holden High School,Charter,Poor,83.8,83.81,92.51,96.25,94.38
Cabrera High School,Charter,Poor,83.06,83.98,94.13,97.04,95.59

In [104]:
#Score by School size
school_summary4 = school_summary[["School Size","Average Math Score","Average Reading Score",
                "% Passing Math", "% Passing Reading","% Passing Overall"]]
scorebysize = school_summary4.sort_values(by=["School Size"],
                                                 ascending=False)
scorebysize

,,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school,type,,,,,,
Rodriguez High School,District,Large,76.84,80.74,66.37,80.22,73.29
Johnson High School,District,Large,77.07,80.97,66.06,81.22,73.64
Hernandez High School,District,Large,77.29,80.93,66.75,80.86,73.81
Bailey High School,District,Large,77.05,81.03,66.68,81.93,74.31
Wilson High School,Charter,Medium,83.27,83.99,93.87,96.54,95.2
Huang High School,District,Medium,76.63,81.18,65.68,81.32,73.5
Ford High School,District,Medium,77.1,80.75,68.31,79.3,73.8
Figueroa High School,District,Medium,76.71,81.16,65.99,80.74,73.36
Wright High School,Charter,Small,83.68,83.95,93.33,96.61,94.97
Thomas High School,Charter,Small,83.42,83.85,93.27,97.31,95.29
Shelton High School,Charter,Small,83.36,83.73,93.87,95.85,94.86
Pena High School,Charter,Small,83.84,84.04,94.59,95.95,95.27
Holden High School,Charter,Small,83.8,83.81,92.51,96.25,94.38
Griffin High School,Charter,Small,83.35,83.82,93.39,97.14,95.27
Cabrera High School,Charter,Small,83.06,83.98,94.13,97.04,95.59

#Observable Trends
-There is an inverse relationship between 'Budget per Student' and student test scores in both math and reading. 
-There is a direct correlation between school size and student test scores
-Charter schools are shown to have higher test scores vs district schools of similar size or similar spend per student. Charter schools also tend to spend less per student and have smaller student populations